@import "tailwindcss";

.temp {
  @apply text-9xl md:text-[200px] mt-8 md:mt-10;
}

.weather-icon {
  @apply w-50 md:w-70;
}

.city {
  @apply pt-1 font-bold text-sm md:text-2xl mt-12;
}

.weather_condition {
  @apply text-3xl md:text-5xl font-bold mt-5;
}

.hidden {
  @apply hidden;
}
